{% load static %}
<li><a href="{% url 'index' %}" {% if 'index' in request.resolver_match.url_name %}
    class="active"{% endif %}>домой</a></li>
<li><a href="{% url 'products:products' %}" {% if 'products' in request.resolver_match.url_name %}
    class="active"{% endif %}>продукты</a></li>
<li><a href="{% url 'contact' %}" {% if 'contact' in request.resolver_match.url_name %}
    class="active"{% endif %}>контакты</a></li>


{% if user.is_authenticated %}
<li><a href="{% url 'auth:edit' %}">{{ user.first_name|default:'Пользователь' }}</a></li>
<li><a href="{% url 'auth:logout' %}">Выйти</a></li>
{% else %}

<li><a href="{% url 'auth:register' %}">Регистрация</a></li>
<li><a href="{% url 'auth:login' %}">Войти</a></li>

{% endif %}

